﻿@using BookAuthor.ViewModel
@using BookAuthor.Models.IService
@model AuthorViewModel
@inject IAuthorService _autService

@{
    ViewBag.Title = "Create Employee";
}

<form asp-controller="author" asp-action="create" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DOB" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="DOB" class="form-control">
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            Total Authors Count = @_autService.GetAllAuthors().Count()
        </div>
    </div>
</form>
