﻿@using BookAuthor.Models.Author
@using BookAuthor.Models.IRepository
@model Authors
@inject IAuthorRepository _authorRepository

@{
    ViewBag.Title = "Delete Author";
}

<form asp-controller="author" asp-action="Delete" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            Total Employees Count = @_authorRepository.GetAllAuthors().Count()
        </div>
    </div>
</form>