﻿@using BookAuthor.Models.Book

<div class="card-deck">
    @foreach (var book in ViewData["AuthorId"] as List<Books>)
    {
        <div class="card m-3">
            <div class="card-header">
                <h5>ID: @book.Id</h5>
                <h3>Name: @book.Name</h3>
            </div>
        </div>
    }
</div>
