﻿@using BookAuthor.Models.Author
@model IEnumerable<Authors>

<div class="card-deck">
    @foreach (var author in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h5>ID: @author.Id</h5>
                <h3>Name: @author.Name</h3>
                <a class="nav-link text-dark" asp-area="" asp-controller="author" asp-action="Update" asp-route-id="@author.Id">Details</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="author" asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="author" asp-action="GetBook" asp-route-id="@author.Id">Book</a>
            </div>
        </div>
    }
</div>

