﻿@using BookAuthor.Models.Book
@using BookAuthor.Models.IRepository
@model Books
@inject IBookRepository _bookRepository

@{
    ViewBag.Title = "Delete Book";
}

<form asp-controller="book" asp-action="Delete" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            Total Employees Count = @_bookRepository.GetAllBooks().Count()
        </div>
    </div>
</form>