﻿@using BookAuthor.Models.Author

<div class="card-deck">
    @foreach (var author in ViewData["AuthorId"] as List<Authors>)
    {
        <div class="card m-3">
            <div class="card-header">
                <h5>ID: @author.Id</h5>
                <h3>Name: @author.Name</h3>
            </div>
        </div>
    }
</div>