﻿@{
    ViewBag.Title = "Book List";
}

<div class="card-deck">
    @foreach (var book in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h5>ID: @book.Id</h5>
                <h3>Name: @book.Name</h3>
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Update" asp-route-id="@book.Id">Details</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetAuthor" asp-route-id="@book.Id">Author</a>
            </div>
        </div>
    }
</div>

