﻿@using BookAuthor.Models.Book
@using BookAuthor.Models.IRepository
@model Books
@inject IBookRepository _bookRepository

@{
    ViewBag.Title = "Update Book";
}

<form asp-controller="book" asp-action="update" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ISBN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ISBN" class="form-control" placeholder="ISBN">
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Adition" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Adition" class="form-control" placeholder="Adition">
            <span asp-validation-for="Adition" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Part" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Part" class="form-control" placeholder="Part">
            <span asp-validation-for="Part" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PublishingDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PublishingDate" class="form-control" placeholder="Name">
            <span asp-validation-for="PublishingDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Select Author :</label>
        <select asp-items="ViewBag.AuthorId" class="form-control" name="AuthorIdList" multiple>
        </select>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            Total Employees Count = @_bookRepository.GetAllBooks().Count()
        </div>
    </div>
</form>
